.form-content h3{
    font-size: 25px;
    font-weight: bold;
    color:#3E008E;
}

.form-content .instruction-content p{
   font-size: 15px;
}

.form-content .time-counter p{
    font-size: 15px;
    color: blue;
    margin-right: 20px;
 }

 .form-content .time-counter i{
    margin-left: 5px;
 }
 
.question-form{
    padding: 25px;
}

.btn-primary a{
    color: white;
}